/*A propriedade "box-sizing" definida como "border-box", garante que o preenchimento
e a borda estejam incluídos na largura e altura total dos elementos*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Extra small devices. On screens that are 600px wide or less (phones, 600px and down) */
@media screen and (min-width: 200px) and (max-width: 600px){
    /* CONFIGURAÇÕES DE CABEÇALHO */
    .cabecalho{
        background-color: rgb(208, 219, 208);
        width: 98%;
        margin: auto;
        font-size: 0.7em;
        height: 60px;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);

        display: grid;
        grid-template-columns: 1fr 5fr;

        place-items: center; /* Em grid, alinha iten verticalmente*/
    }
    #logo img{
        width: 100%;
        height: 52px;

        display: grid;
        place-items: center;
    }
    #tituloPrograma{
        margin: auto;
        text-align: center; /* Alinha o texto horizontalmente ao centro */
    }

    /* CONFIGURAÇÕES DE DADOS ANTROPOMÉTRICOS - NOME, SEXO, ETNIA */
    .nomeSexo{
        background-color: rgb(208, 219, 208);
        width: 98%;

        margin: 5px auto;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    }
    .nomeSexo p{
        padding: 4px 0px;
    }
    #inNome{
        width: 75%;
    }
    #etnia{
        padding: 4px 0px;
    }


    /* CONFIGURAÇÕES DE DADOS ANTROPOMÉTRICOS - PESO ATUAL, PESO USUAL */
    .dadosAntropometricos1{
        background-color: rgb(208, 219, 208);
        border-radius: 5px;
        padding: 2px;
        width: 98%;
        margin: 4px auto;

        border-radius: 5px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    }
    .antropometriaInicial{
        display: grid;
        grid-template-columns: 1fr 1fr;

        margin: 4px auto;
        padding: 5px;
    }
    .dadoPacInput input{
        width: 98%;
    }

    /* CONFIGURAÇÕES PPRT */
    .inPPRT{
        margin: 0px auto 0px auto;
        padding: 2px;
    }
    .inPPRT p{
        padding: 2px;
    }
    /* CONFIGURAÇÕES DADOS ANTROPOMÉTRICOS - IDADE, ESTATURA, CB, CA, CC, CQ, PCB, PCT, DCSE, DCSI */
    .dadosAntropometricos2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: rgb(208, 219, 208);
        width: 98%;
        margin: 4px auto;

        border-radius: 5px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    }
    .inDados{
        padding: 2px;
        margin: 2px;
    }
    /* CONFIGURAÇÕES DE BOTÕES */
    /* Botão Calcular */
    .buttons{
        width: 98%;
        margin: 4px auto;
        padding: 2px;
        border-radius: 5px;
    }
    .buttonCalc{
        font-size: 1.2em;
        padding: 4px;
        margin: 4px auto;

        border-radius: 5px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);

    }
    .resultadosAntropometricos{
        width: 98%;
        margin: auto;
        padding: 5px;
        border-radius: 5px;
        
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .saidaResultados{
        width: 98%;
    }
    .saidaResultados p{
        width: 98%;
        margin: auto;
        /*padding: 2px 2px 2px 4px;*/
        border-radius: 5px;
    }
    
    .resp{
        background-color: lightgray;
        width: 98%;
        border-radius: 5px;
    }

}

@media screen and (min-width: 601px) and (max-width: 1100px){
    /* CONFIGURAÇÕES DE CABEÇALHO */
    .cabecalho{
        background-color: rgb(208, 219, 208);
        width: 90%;
        margin: auto;
        font-size: 0.9em;
        height: 70px;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
        margin: 5px auto;
        display: grid;
        grid-template-columns: 1fr 8fr;

        place-items: center; /* Em grid, alinha iten verticalmente*/
    }
    #logo{
        width: 100%;
        height: 100%;
        
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        
    }
    #logo img{
        width: 95%;
        height: 60px;
        padding-left: 4px;
    }
    #tituloPrograma{
        margin: auto;
        text-align: center; /* Alinha o texto horizontalmente ao centro */
    }
    /* CONFIGURAÇÕES DE DADOS ANTROPOMÉTRICOS - NOME, SEXO, ETNIA */
    .nomeSexo{
        background-color: rgb(208, 219, 208);
        width: 90%;

        margin: 7px auto;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    }
    .nomeSexo p{
        padding: 4px 0px;
    }
    #inNome{
        width: 50%;
    }
    #etnia{
        padding: 4px 0px;
    }
    
    /* CONFIGURAÇÕES DE DADOS ANTROPOMÉTRICOS - PESO ATUAL, PESO USUAL */
    .dadosAntropometricos1{
        background-color: rgb(208, 219, 208);
        border-radius: 5px;
        padding: 2px;
        width: 90%;
        margin: 4px auto;

        border-radius: 5px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    }
    .antropometriaInicial{
        display: grid;
        grid-template-columns: 1fr 1fr;

        margin: 4px auto;
        padding: 5px;
    }
    .dadoPacInput input{
        width: 98%;
    }
    #inPA, #inPU{
        width: 50%;
    }

    /* CONFIGURAÇÕES PPRT */
    .inPPRT{
        margin: 0px auto 0px auto;
        padding: 2px;
    }
    .inPPRT p{
        padding: 2px;
    }

    /* CONFIGURAÇÕES DADOS ANTROPOMÉTRICOS - IDADE, ESTATURA, CB, CA, CC, CQ, PCB, PCT, DCSE, DCSI */
    .dadosAntropometricos2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: rgb(208, 219, 208);
        width: 90%;
        margin: 4px auto;

        border-radius: 5px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    }
    .inDados{
        padding: 2px;
        margin: 2px;
    }

    /* CONFIGURAÇÕES DE BOTÕES */
    /* Botão Calcular */
    .buttons{
        width: 90%;
        margin: 4px auto;
        padding: 2px;
        border-radius: 5px;
    }
    .buttonCalc{
        font-size: 1.2em;
        padding: 4px;
        margin: 4px auto;

        border-radius: 5px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);

    }

    /* SAÍDA DE RESULTADOS */
    .resultadosAntropometricos{
        width: 90%;
        margin: auto;
        padding: 5px;
        border-radius: 5px;
        
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .saidaResultados{
        width: 90%;
    }
    .resp{
        background-color: lightgray;
        width: 90%;
        border-radius: 5px;
    }
    .saidaResultados p{ /* Não colocar margin nem padding aqui, senão ficará aparecendo ou ocupando espaço na página mesmo sem ter respostas geradas */
        width: 100%;
        margin: auto;
        border-radius: 5px;
    }
}

@media screen and (min-width: 1101px) and (max-width: 4000px){
    /* CONFIGURAÇÕES DE CABEÇALHO */
    .cabecalho{
        background-color: rgb(208, 219, 208);
        width: 1000px;
        margin: auto;
        font-size: 0.9em;
        height: 90px;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
        margin: 5px auto;
        display: grid;
        grid-template-columns: 1fr 8fr;

        place-items: center; /* Em grid, alinha iten verticalmente*/
    }
    #logo{
        width: 100%;
        height: 100%;
        
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        
    }
    #logo img{
        width: 90%;
        height: 85px;

    }
    #tituloPrograma{
        margin: auto;
        text-align: center; /* Alinha o texto horizontalmente ao centro */
    }

    /* CONFIGURAÇÕES DE DADOS ANTROPOMÉTRICOS - NOME, SEXO, ETNIA */
    .nomeSexo{
        background-color: rgb(208, 219, 208);
        width: 1000px;

        margin: 7px auto;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    }
    .nomeSexo2{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }

    .nomeSexo p{
        padding: 4px 0px;
    }
    #inNome{
        width: 50%;
    }
    #etnia{
        padding: 4px 0px;
    }
    /* CONFIGURAÇÕES DE DADOS ANTROPOMÉTRICOS - PESO ATUAL, PESO USUAL */
    .dadosAntropometricos1{
        background-color: rgb(208, 219, 208);
        border-radius: 5px;
        padding: 2px;
        width: 1000px;
        margin: 4px auto;

        border-radius: 5px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    }
    .antropometriaInicial{
        display: grid;
        grid-template-columns: 1fr 1fr;

        margin: 4px auto;
        padding: 5px;
    }
    .dadoPacInput input{
        width: 98%;
    }
    #inPA, #inPU{
        width: 50%;
    }

    /* CONFIGURAÇÕES PPRT */
    .inPPRT{
        margin: 0px auto 0px auto;
        padding: 2px;
    }
    .inPPRT p{
        padding: 2px;
    }
    /* CONFIGURAÇÕES DADOS ANTROPOMÉTRICOS - IDADE, ESTATURA, CB, CA, CC, CQ, PCB, PCT, DCSE, DCSI */
    .dadosAntropometricos2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        background-color: rgb(208, 219, 208);
        width: 1000px;
        margin: 4px auto;

        border-radius: 5px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    }
    .inDados{
        padding: 2px;
        margin: 2px;
    }

    /* CONFIGURAÇÕES DE BOTÕES */
    /* Botão Calcular */
    .buttons{
        width: 1000px;
        margin: 4px auto;
        padding: 2px;
        border-radius: 5px;
    }
    .buttonCalc{
        font-size: 1.2em;
        padding: 4px;
        margin: 4px auto;

        border-radius: 5px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);

    }

    /* SAÍDA DE RESULTADOS */
    .resultadosAntropometricos{
        width: 1000PX;
        margin: auto;
        padding: 5px;
        border-radius: 5px;
        
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .saidaResultados{
        width: 90%;
    }
    .resp{
        background-color: lightgray;
        width: 90%;
        border-radius: 5px;
    }
    .saidaResultados p{ /* Não colocar margin nem padding aqui, senão ficará aparecendo ou ocupando espaço na página mesmo sem ter respostas geradas */
        width: 100%;
        margin: auto;
        border-radius: 5px;
    }
}